<!DOCTYPE html>
<html>
  <head>
  <style> 
            .small_image{ 
                width:60%; 
                height:60; 
            } 
            img{ 
                width:60%; 
                height:60%; 
            } 
        </style> 

  <!--    <meta charset="utf-8"> --> <!-- regular version -->
  <!-- Making page mobile friendly: https://www.w3schools.com/w3css/w3css_mobile.asp -->
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- mobile version -->
    <title>Spectrum measurement reports</title>
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>